body {
    font-family: $primaryFontFamily;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: $primaryTextColor;
    background-color: $primaryBgc;
}
.section {
    padding: 60px 0;

    @include mq(desktop) {
        padding: 94px 0;
        
    }
    
    
}
h3 {
    margin-bottom: 10px;
}

