  $primaryTextColor: #757575;
  $secondaryTextColor: #2196f3;
  $whiteTextColor: #ffffff;
  $primaryBgc: #ffffff;
  $secondaryBgc: #f5f4fa;
  $primaryFontFamily: 'Roboto', sans-serif;
  $secondaryFontFamily: 'Raleway', sans-serif;
  $titleColor: #212121;
  