.advantages {
    background-color: $primaryBgc;
}

.advantages-item{
    @include mq(mobile){
        display: block;
        width: 100%;
    }
      @include mq(tablet){
            margin: 0 30px 30px 0;
            flex-basis: calc((100% - 2 * 30px) / 2);  
            &:nth-child(even){margin-right: 0;}
            &:nth-child(n+3){margin-bottom: 0;}      
     }
     @include mq(desktop){
        margin: 0 30px 0 0;
        flex-basis: calc((100% - 3 * 30px) / 4);
        &:nth-child(even){margin-right: 30px;}
            &:last-child{margin-right: 0;}
     }
}

.advantages-list {
    @include mq(mobile){
        display: block;
    }
@include mq(tablet){
    display: flex;
    flex-wrap: wrap;
}
@include mq(desktop){
    display: flex;
    flex-direction: row;
}}

.advantages-item .advantages-text {
    @include fontstyle(400, 14px, 1.71);
         
    @include mq(mobile-only){
    margin-bottom: 30px;
    .advantages-item &:last-child {
            margin-bottom: 0;
        }}

}

.advantages-text
{@include mq(mobile-only){
    &:last-child {
            margin-bottom: 0;
        }}}

.advantages .title-advantage {
    @include fontstyle(700, 14px, 1.14);
    
    text-transform: uppercase;
    color: $titleColor;
    @include mq(mobile){
    text-align: center;
}
    @include mq(tablet){
        text-align: left;
    }
}
.advantages-icon {
    background-color: $secondaryBgc;
    border-radius: 4px;
       margin-bottom: 30px;
       display: flex;
     justify-content: center;
   align-items: center;
   height: 120px;

    @include mq(mobile-only){
        width: 100%;
     }
      @include mq(tablet-only){
        width: 354px;
    }
 }
