.header {
    height: 62px;
    width: 100%;
    border: 1px solid #ECECEC;

    @include mq(tablet){
        height: 82px;
    }
}


.header__logo {
    @include mq(mobile-only){
        padding: 16px 0;
    }
    @include fontstyle(700, 24px, 1.17);
    
    font-family: $secondaryFontFamily;
    letter-spacing: 0.03em;
    color: $titleColor;

    @include mq(desktop){
        
        font-size: 26px;
        line-height: 1.19;
    }
    
        
}


.header__logo--colour {
    color:  $secondaryTextColor;
}

.header__container {
    position: relative;
    display: block;

    @include mq(tablet){
        display: flex;
    }
    @include mq(desktop) {
        display: flex;
    }
        
}


.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    @include mq(tablet) {
        height: 80px;
        
        align-items: center;
        
    }
    @include mq(desktop) {
        height: 80px;
        align-items: center;
        
    }
}

.mobile-menu{
    position: absolute;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    top: 10px;
    right: 15px;
    background-color: transparent;
    z-index: 10;
    &:hover,
    &:focus{
        fill: $secondaryTextColor;
    }
    @include mq(tablet){
        display: none;
    }
}
.icon-cross{
    z-index: 10;
}
.mobile-menu .icon-cross{
    display: none;
    overflow: hidden;
}
.mobile-menu.is-open .icon-cross{
    display: block;
    
    
}
.mobile-menu.is-open .icon-menu {
    display: none;
}
.mobile-menu.is-open .header__logo {
    display: none;
}


.menu-container{    
  display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primaryBgc;
    overflow-y: hidden;
    @include mq(mobile-only){
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }
    
        &.is-open{
            display: flex;
            flex-direction: column;
        
    }
    @include mq(tablet) {
        display: flex;
        position: static;
        height: 80px;
        margin-left: 82px;
        width: auto;
        padding: 0;
    
        }
    @include mq(desktop){
        display: flex;
        position: static;
        height: 80px;
        margin-left: 93px;
        width: auto;
        padding: 0;

    }
}
.header__list {
    
    // margin-bottom: 301px;


    @include mq(tablet) {
        height: 80px;
        display: flex;
        align-items: center;
        
        text-align: center;
        margin-bottom: 0;
    }
    @include mq(desktop){
        height: 80px;
        display: flex;
        text-align: center;
        
        
        margin-bottom: 0%;
    }
}



.header__item{
    @include mq(mobile-only){
        margin-bottom: 32px;
    }
    
    @include mq(tablet){
            margin-left: 50px;
    
            &:first-child {
                margin-left: 0px;
            }
        }
    @include mq(desktop){
    margin-left: 50px;
        &:first-child {
            margin-left: 0px;
        }
    }
}
.header__item:last-child{
    @include mq(mobile-only){
        margin-bottom: 0;
    }

}



.header__link {
    @include fontstyle(500, 40px, 1.17);
    text-align: center;
    letter-spacing: 0.02em;
    color: $titleColor;
    &:hover,
    &:focus,
    &:active {
        color: $secondaryTextColor;
        cursor: pointer;
        }
    @include mq(tablet){
       
            font-size: 14px;
            line-height: 1.14;
            
    }
    
    @include mq(tablet){
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    @include fontstyle(500, 14px, 1.14);
    letter-spacing: 0.02em;
    color: $titleColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color:$secondaryTextColor;
            transform: scaleX(0);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
        &:hover::after,
        &:focus::after,
        &:active::after {
            display: block;
            transform: scaleX(1);
        }
    }   
}
.header__link--current {
    @include mq(tablet){
    color: $secondaryTextColor;
    }
    &::after {
        @include mq(tablet){
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            transform: scaleX(1);
            background-color:$secondaryTextColor;
        }
        
    }
}
.contacts {
    @include mq(mobile){
        margin-top: auto;

    }
    @include mq(tablet){
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-top: 0;
    }
        @include mq(desktop) {
            
            margin-left: auto;
            
        }
}
.contacts__list {
    @include mq(mobile-only){
        display: flex;
        flex-direction: column-reverse;
    }
    @include mq(tablet) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 88px;       
        margin-top: 0;
        }
    @include mq(desktop){ 
        display: flex;
        align-items: center;
        margin-left: 290px;
        flex-direction: row;
        
    }
}
.contacts__item{
    @include mq(tablet-only){
        margin-bottom: 10px;
        &:last-child{margin-bottom: 0;}
    }
}
.contacts__item:first-child{
    @include mq(mobile-only){
        margin-top: 32px;
    }

    @include mq(desktop){
    margin-right: 30px;
    
    align-items: baseline;
    }
}
.contacts__link--second{
    @include mq(mobile-only) {
        @include fontstyle(500, 34px, 1.18);
            letter-spacing: 0.02em;
            color: $secondaryTextColor;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
                &:hover,
                &:focus {
                    fill: $secondaryTextColor;
                    color: $secondaryTextColor;
                }
    }
        @include mq(tablet) {
                    color: $primaryTextColor;
                    @include fontstyle(500, 12px, 1.17);
                &:hover,
                &:focus {
                    fill: $secondaryTextColor;
                     color: $secondaryTextColor;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
     }
            
         @include mq(desktop) {
                    padding: 32px 0;
                    @include fontstyle(500, 14px, 1.17);
    }
}

.contacts__link--first{
    @include mq(mobile-only){
        font-size: 24px;
        line-height: 1.17;
        color: $primaryTextColor;
    }
    @include mq(mobile){
    width: 161px;
    font-weight: 500;
    
    letter-spacing: 0.02em;
    color: $primaryTextColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
            fill: $secondaryTextColor;
            color: $secondaryTextColor;
        }
        @include mq(tablet){
            @include fontstyle(500, 12px, 1.17);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        @include mq(desktop) {
            padding: 32px 0;
            @include fontstyle(500, 14px, 1.17);
        }
}

.contacts__icons {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include mq(mobile-only){
        display: none;
    }
    
    @include mq(tablet){

    margin-right: 8px;
    fill: $primaryTextColor;
    }
}
.contacts__link--first:hover .contacts__icons,
.contacts__link--first:focus .contacts__icons{
  
      fill: #2196f3;
}
.contacts__link--second:hover .contacts__icons,
.contacts__link--second:focus .contacts__icons{
  
      fill: #2196f3;
}

.contacts__icons--sizeM{
    @include mq(tablet){
        width: 14px;
        height: 10px;
    }
    @include mq(desktop){
        width: 16px;
        height: 12px;
    }
}
.contacts__icons--sizeT{
    @include mq(tablet){
        width: 10px;
        height: 14px;
    }
    @include mq(desktop){
        width: 10px;
        height: 16px;
    }
}
.network__list{
    @include mq(mobile-only){
    display: flex;
    max-width: 480px;
    margin-top: 64px;
    }
    @include mq(tablet){
        display: none;
    }
}
.network__item{
    
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:last-child{
        padding-right: 0;
        border: none;
    }
    &:not(:first-child){
        padding-left: 10px;
    }
 
}

.network__link{
    @include mq(mobile-only){
        @include fontstyle(500, 18px, 1.22)
        letter-spacing: 0.02em;
        color:  $secondaryTextColor;
        
    }
    
}